{
	"cookiesFile" : "./cookies.txt",
	"diskCacheEnabled" : false,
	"autoLoadImages" : true,
	"offlineStoragePath" : "./",
	"localToRemoteUrlAccessEnabled" : true,
	"webSecurityEnabled" : false,

	"ignoreSslErrors": true,
	"sslProtocol": "any",
	"maxDiskCacheSize": 0,
	//"proxy": "127.0.0.1:8087",
	"outputEncoding": "utf8",
	"remoteDebuggerPort" : 9000

}

